body {
	padding-top: 70px;
	color: #555;
}

img {
	max-width: 100%;
	height: auto;
}

.logo {
	background: #fff;
	margin: -10px 0;
	padding: 10px;
}

#logo {
	width: auto;
	height: 50px;
	margin: 0 auto
}

#menu {
	background-color: #2F7096;
	border-bottom: 1px solid #255977;
	padding: 10px 0;
	height: 70px;
}

#menu h2 {
	margin: 10px 0;
	margin-bottom: 0;
	color: #fff;
	font-size: 150%;
}

#sidebar {
	position: fixed;
	width: 16.66666667%;
	height: 100%;
	margin-left: -15px;
	background-color: #2F7096;
}

#sidebar a {
	border-top: 1px solid #3E8BB8;
	border-bottom: 1px solid #255977;
	display: block;
	padding: 5px 15px;
	background-color: #2F7096;
	color: #fff;
}

#sidebar a:hover {
	text-decoration: none;
	background-color: #3C8DBC;
	border-top: 1px solid #4AA6DB;
	border-bottom: 1px solid #3E8BB8;
}

.tab {
	text-align: center;
	border: 1px solid #ccc;
	background-color: #3C8DBC;
	margin: 10px 0;
	color: #fff;
}

.tab h2 {
	font-weight: normal;
	margin: 10px 0;
}

ol li {
	margin-bottom: 10px;
}

ul li {
	margin-bottom: 0;
}